html {
    background-color: #fff;
    color: #2E2F42;
    color: #4D5AE5;
    background-color: #F4F4FD;
    color: #434455;
    color: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    width: auto;
}

button {
    font-family: inherit;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.container {
    max-width: 100%;
    /* max-width: 1158px; */
    padding: 0 16px;
    margin: 0 auto;
}

.header-inner {
    display: flex;
}

.header-nav {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
}

.accent {
    color: #2E2F42;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.nav-list {
    display: flex;
    gap: 40px;
    flex-grow: 1;
}

.nav-item {
    display: inline-block;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:hover,
.nav-item:active,
.nav-item:focus {
    color: #404BBF;
}

.nav-first-item {
    color: #404BBF;
}

.nav-first-item::after {
    display: block;
    background-color: #404bbf;    
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.contact-info {
    font-style: normal;
}

.contacts-list {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.contacts {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
    color: #404BBF;
}

/*hero section*/

.hero-sec {
    background-color: #2E2F42;
    color: #fff;
    margin: 0 auto;
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), 
    url("../images/hero-bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;
}

.hero-button {
    display: block;
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000026;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
    background-color: #404BBF;
}

/*about section*/

.about-sec {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    /* gap: 24px; */
}

@media screen and (min-width: 768px) {
    .about-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}

.about-item {
    flex-basis: 100%;
}

@media screen and (min-width: 768px) {
    .about-item {
            flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .about-item {
        flex-basis: calc((100% - 72px) / 4);
    }
}


.icon-container {
    display: none;
}

@media screen and (min-width: 1158px) {
    .icon-container {
        display: block;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
        border-radius: 4px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.about-icon {
    fill: #2E2F42;
}

.about-title {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .about-title {
    text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .about-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.about-text {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
    .about-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

/*team section*/

.team-sec {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 72px;
    flex-direction: column;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    .team-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        display: flex;
    }
}

.member-card {
    background-color: #fff;
    flex-basis: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-info {
    padding: 32px 0;
}

.team-member {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.member-position {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-links {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-icon-item {
    width: 40px;
    height: 40px;
}

.team-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover,
.team-icon-link:focus {
    background-color: #404bbf;
}

.team-icon {
    fill: #F4F4FD;
}

/*portfolio section*/

.portfolio-sec {
    background-color: #fff;
    padding: 120px 0;
}

.portfolio-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-title {
    color: #2E2F42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 48px;
}

/* @media screen and (min-width: 768px) {
    .portfolio-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 24px;
        column-gap: 72px;
    }
} */

.portfolio-item {
    flex-basis: 100%;
    border: 1px solid #E7E9FC;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* @media screen and (min-width: 768px) {
    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
} */

.portfolio-item:hover {
    border: 1px solid #F4F4FD;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
    color: #F4F4FD;
    background-color: #4D5AE5;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    height: 100%;
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-elem-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-elem {
    background-color: #fff;
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    width: auto;
}

.portfolio-descr {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}



/*footer*/

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer .container {
    display: flex;
    align-items: baseline;
}

.footer-info-container {
    margin-right: 120px;
}

.footer-logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.footer-accent {
    color: #F4F4FD;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-links-container {
    margin-right: 80px;
}

.footer-title {
    color: #FFFFFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
}

.footer-links {
    display: flex;
    gap: 16px;
    justify-content: space-between;
}

.footer-icon-item {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31D0AA;
}

.footer-input-wrap {
    display: flex;
    gap: 24px;
}

.footer-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid  #FFF;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-input::placeholder {
    color: #FFF;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    color: #FFF;
    text-align: center;
    cursor: pointer;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-button:hover,
.footer-button:active,
.footer-button:focus {
    background-color: #404BBF;
}

.footer-icon {
    fill: #FFFFFF;
}

/* Modal */

.backdrop {
    position: fixed;
    background: rgba(46, 47, 66, 0.40);
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    overflow-y: auto;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);;
    border-radius: 4px;
    background: #FCFCFC;
    padding: 72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    
}

.close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    padding: 0;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:active,
.close-button:focus {
    background-color: #404BBF;
    border: none;
    cursor: pointer;
}

.close-button:hover .close-icon {
    fill: #FFF;
}

.close-button:focus .close-icon {
    fill: #FFF;
}


.modal-title {
    margin-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.modal-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.modal-field-textarea {
    margin-bottom: 16px  
}

.modal-label {
    display: block;
color: #8E8F99;
font-size: 12px;
font-weight: 400;
line-height: 1.17; 
letter-spacing: 0.04em;
margin-bottom: 4px;
}

.modal-input-wrap {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input {
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding-left: 38px;
    width: 100%;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.modal-input:focus + .input-icon {
    fill: #4D5AE5;
}

.modal-textarea {
    height: 120px;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    display: block;
    padding: 8px 16px;
    resize: none;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.modal-field-checkbox {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.checkbox-check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent; 
    margin-right: 8px;
}

.modal-checkbox-input:checked + .modal-checkbox-label .checkbox-check {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.modal-checkbox-label {
    color: #8E8F99;
    font-size: 12px; 
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.modal-checkbox-link {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.send-button {
    display: block;
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    box-shadow: 0px 4px 4px 0px #00000026;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover,
.send-button:focus {
    background-color: #404BBF;
}